#!/bin/bash

PORT=22022
REPOSITORY_PATH=$(cat /root/.borg_repository_path)
BACKUP_SERVER=$(cat /root/.borg_backup_server)
PASSPHRASE=$(cat /root/.borg_passphrase)
REPOSITORY=ssh://borg@$BACKUP_SERVER:$PORT$REPOSITORY_PATH

# Archive names are dates.
ARCHIVE=$(date +%Y-%m-%d)

STATUS_FILE="/var/tmp/borg-backup-status"
# We exit when something goes wrong and $STATUS_FILE remains empty.
# Zabbix reports an empty STATUS_FILE as an error.
rm $STATUS_FILE
touch $STATUS_FILE

# we changed the fqdn of the backup server 
export BORG_RELOCATED_REPO_ACCESS_IS_OK=yes


# Report yesterdays archive info
BORG_PASSPHRASE=$PASSPHRASE borg info $REPOSITORY::$(date -d "$date -1 days" +"%Y-%m-%d")

if [ -f /usr/local/sbin/pre-backup.sh ]; then
    # Other ansible playbooks populate this file with things to be backed up.
    # eg: nextcloud playbook writes a mysqldump instruction into this file
    /usr/local/sbin/pre-backup.sh
fi

# backup_dirs are defined in the Ansible hosts file and get parsed here by the playbook
out="$( BORG_PASSPHRASE=$PASSPHRASE /usr/bin/borg create -v --stats --show-rc \
    $REPOSITORY::$ARCHIVE \
    {% for dir in backup_dirs %}{{ dir }} {% endfor %}    2>&1)"

# Mail output to root.
echo "$out"

echo "$out" | grep -q "success status, rc 0"
if [ ! $? -eq 0 ];then
   exit 0
fi

echo "Pruning $REPOSITORY_PATH"
BORG_PASSPHRASE=$PASSPHRASE borg prune -v --list $REPOSITORY --keep-daily=7 --keep-weekly=4 --keep-monthly=6 --show-rc

# Check repository consistency
out="$( BORG_PASSPHRASE=$PASSPHRASE borg check $REPOSITORY -v --show-rc 2>&1)"

echo "$out" | grep -q "Completed repository check, no problems found"
if [ ! $? -eq 0 ];then
 exit 0
fi

echo "$out" | grep -q "$ARCHIVE"
if [ ! $? -eq 0 ];then
 exit 0
fi

echo "$out" | grep -q "Archive consistency check complete, no problems found"
if [ ! $? -eq 0 ];then
 exit 0
fi

echo "$out" | grep -q "success status, rc 0"
if [ ! $? -eq 0 ];then
 exit 0
fi

# If backup was successful and repository is consistent, write the archive name to /var/tmp/borg-backup-status for zabbix
echo "Repository consistency $REPOSITORY_PATH checks OK!"
echo "$ARCHIVE" > $STATUS_FILE
